.botao{
	width: 265px;
	height: 40px;
}

thead{
	height: 40px;
	font-size: 20px;
}

.caixa {
	color: red;
	margin: 5px 5px 5px 10px;
}

.ui-panelgrid-footer tr td{
	text-align: center;
}

.ui-button {
	margin-right: 5px !important;
	margin-left: 5px !important;
}

