td.codigo {
	width: 5%;
	text-align: center;
}

td.disciplina-funcao {
	width: 70%;
	text-align: center;
}

td.operacoes { 
	width: 5%;
	text-align: center;
}


.grid .receita {
	color: #0000ff;
}

.grid .despesa {
	color: #c23030;
}